* {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  background-color: #fff;
  background-size: cover;
  background-position: center;
  align-items: center;
}

.container {
  max-width: 300px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.App-logo {
  height: 12vmin;
  pointer-events: none;
}

.App-header {
  position: relative;
  background-color: #fff;
  padding: 3.5rem 0.5rem 2rem 1.5rem;
  border-radius: 0.25rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  transition: 0.3s;
  margin-bottom: 40px;
  margin-top: 50px;
  text-align: center;
}

.info{
  margin-top: 50px;
  margin-bottom: 50px;
  line-height: 2rem;
}

.social-link {
  display: inline-block;
  margin-right: 1rem;
  font-size: 2rem;
  text-decoration: none;
  transition: 0.3s;
}